OLLAMA_LLM_MODEL=qwen2.5:7b
OLLAMA_EMBED_MODEL=bge-m3:latest
OLLAMA_CTX=32000
OLLAMA_TEMPERATURE=0.1

PAPER_ASSISTANT_PDF_DIR=paper_assistant/pdfs
PAPER_ASSISTANT_WORKING_DIR=paper_assistant/index_data
EMBEDDING_DIM=1024
MAX_TOKEN_SIZE=8192
CHUNK_TOKEN_SIZE=1024
CHUNK_OVERLAP_TOKEN_SIZE=128
LLM_MODEL_MAX_ASYNC=1
